---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = 'A collection of mini-apps and projects, Hoenn style!',
} = Astro.props;
const siteTitle = 'App Pokédex';
const fullTitle = `${title} | ${siteTitle}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{fullTitle}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />

    <style is:global>
      body {
        font-family: 'Inter', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      .pokedex-title {
        font-family: 'Press Start 2P', cursive;
      }
      main::-webkit-scrollbar {
        width: 8px;
      }
      main::-webkit-scrollbar-track {
        background: #4a5568; /* gray-700 */
        border-radius: 4px;
      }
      main::-webkit-scrollbar-thumb {
        background: #a0aec0; /* gray-500 */
        border-radius: 4px;
      }
      main::-webkit-scrollbar-thumb:hover {
        background: #718096; /* gray-600 */
      }
    </style>
  </head>
  <body
    class="bg-gray-900 min-h-screen flex items-center justify-center p-4 lg:p-6"
  >
    <slot />
  </body>
</html>
